$bgColorPos1: #ececec;
$bgColorPos2: #d2d2d2;
$bgColorPos3: #bebebe;
$hrColor: #cacaca;
$black: #000;
$white: #fff;
$hoverColor: #00aaff;
$inactiveColor: #9e9e9e;
$borderColor: #3d3d3d;
$green_price: greenyellow;
$green_buy-btn: greenyellow;

body {
    margin: 0;
    padding: 0;
    background-color: $white;
    font-family: SF Pro Display , Montserrat, Arial, sans-serif;
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
}

/* Start header section */

.header {
    display: flex;
    justify-content: center;
}

#logoHeader {
    width: 15%;
    padding: 10px;
}

/* End header section */

/* -------------------------------- */

/* Start navbar section */

.navbar {
    display: flex;
    justify-content: space-between;  
    margin: 5px auto;
    background-color: $bgColorPos1;
    height: 70px;
    width: 850px;
    border-radius: 15px;
}

#navbarLogo {
    width: 40px;
    height: 40px;
    transition: .3s ease-out;
}

#navbarLogo:hover {scale: 110%; transition: .3s ease-in;}

.navbarButtonsLeft {
    display: flex;
    align-items: center;
    width: 210px;
    justify-content: space-between;
}

.navbarItem {
    margin: 0;
    padding: 10px;
    font-size: 18px;
    color: $bgColorPos3;
    text-decoration: none;
    text-align: center;
    transition: .3s ease-out;
}

.navbarItem:hover {color: $black; transition: .3s ease-in;}

.navbarSearch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbarSearch input[type=text] {
    width: 380px;
    font-family: SF Pro Display , Montserrat, sans-serif;
    font-size: 18px;
    background-color: $bgColorPos2;
    color: $inactiveColor;
    padding: 14px 14px;
    border-radius: 8px;
    border: none;
    text-align: left;
    transition: .3s ease-out;
}

.navbarSearch input:focus {outline: 1px solid #959595; transition: 0.3s ease-in;}

.navbarButtonsRight {
    display: flex;
    width: 210px;
    align-items: center;
    justify-content: space-between;
}

#navbarIcon i {
    color: $bgColorPos3;
    scale: 170%;
    padding: 2px;
    margin: 5px;
    transition: 0.3s ease-out;
    vertical-align: bottom;
}

#navbarIcon:hover i {color: $black; transition: 0.3 ease-in;}

/* End navbar section */

/* -------------------------------- */

/* Start content section */

.content {display: flex; align-items: flex-start;}

.content h1 {
    margin: 0;
    color: #774cda;
    padding: 10px;
}

.mainContent {
    display: flex;
    flex-direction: column;
    background-color: $bgColorPos1;
    width: 100%;
    margin: 10px;
    border-radius: 15px;
}

#mainContent_header {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid $bgColorPos2;
}

#mainContent_container {
    padding: 10px;
}

#mainContent_row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.item_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    border-radius: 12px;
    background-color: $white;
    transition: 0.3s ease-out;
}

.item_card:hover img {
    scale: 110%;
    transition: 0.3s ease-in;
}

.item_card h5 {
    color: $bgColorPos3;
    margin: 15px 0 0 15px;
    font-style: normal;
}

.item_card h4 {
    color: $black;
    margin: 15px 0 0 15px;
    font-weight: bold;
    font-size: 18px;
}

.item_card h2 {
    color: $black;
    margin: 15px 0 0 15px;
}

.item_card hr {
    border: 1px solid $bgColorPos2;
}

.item_card_image {
    background-color: $bgColorPos2;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: 3px solid $hrColor;
    display: flex;
    justify-content: center;
}

.item_card_image img {
    width: 65%;   
    transition: 0.3s ease-in-out;
    padding: 10px 10px;
}

.item_card_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    border-radius: 5px;
    text-decoration: none;
    color: $black;
    margin: 5px;
    padding: 8px;
    background-color: $bgColorPos2;
    box-shadow: 0px 3px 3px 2px rgba($color: black, $alpha: 0.05);
    text-align: center;
    transition: .3s ease-out;
}

.item_card_btn:hover {
    background-color: $hoverColor;
    transition: .3s ease-in;
    box-shadow: 0px 3px 3px 5px rgba($color: $hoverColor, $alpha: 0.05);
    color: #000;
}

.item_card_btn i {
    scale: 150%;
    padding: 5px;
}

#item_card_buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 5px;
}

#item_card_price {
    color: $black;
    font-size: 28px;

}

#item_card_buy_btn {  
    background-color: greenyellow;
    box-shadow: 0px 4px 8px 4px rgba($color: $green_buy-btn, $alpha: 0.2);
    color: #000;
    font-weight: bold;
    width: auto;
}

#item_card_buy_btn:hover {
    background-color: $hoverColor;
    box-shadow: 0px 4px 8px 4px rgba($color: $hoverColor, $alpha: 0.2);
    color: #000;
}

#item_card_info_btn {width: 40px;}

/* Start sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    border-radius: 15px;
    width: 410px;
    height: auto;
    background-color: $bgColorPos1;
    padding: 20px 0px;
}

.sidebarSection {
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: 2px solid $hrColor;
}

.sidebarSection h3 {
    display: inline-block;
    color: $black;
    padding: 20px 10px 20px 20px;
    margin: 0;
}

.sidebarSection i {
    scale: 200%;
    color: $bgColorPos3;
}

.sidebarSection p {
    color: $black;
    font-size: 18px;
}

.sidebarList {
    display: inline-block;
    padding: 0;
    margin: 15px 15px;
    list-style-type: none;
}

.sidebarItem {
    text-align: center;
    padding: 5px;
    transition: .3s ease-out;
}

.sidebarItem a {
    text-decoration: none;
    color: $black;
    transition: .3s ease-out;
}

.sidebarItem a:hover {transition: 0.3s ease-in; color: $hoverColor;}

#sidebarHeader {
    justify-content: center;
}

#sidebarSection_price input[type=text] {
    font-family: SF Pro Display , Montserrat, Arial, sans-serif;
    text-align: center;
    width: 125px;
    margin: 10px;
    font-size: 15px;
    background-color: $bgColorPos2;
    color: $inactiveColor;
    border: none;
    border-radius: 6px;
    height: 30px;
}

#sidebarHeader {
    padding: 0px 10px 10px 10px;
}

#floatSelection {
    font-family: Montserrat, Arial, sans-serif;
    text-align: center;
    height: 30px;
    margin: 10px;
    padding: 0px 15px;
    font-size: 15px;
    background-color: $bgColorPos2;
    color: $inactiveColor;
    border: none;
    border-radius: 6px;
    outline: none;
    transition: 0.3s ease-out;  
}

#floatSelection:focus {color: $black; transition: 0.3s ease-in;}
/* End sidebar */

/* End content section */

/* -------------------------------- */

/* Start footer section */

.footer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 10px;
    flex-direction: column;;
    background-color: $bgColorPos1;
    border-radius: 15px;
    align-items: center;
}

.footer h1 {
    color: $black;
}

.footer a {
    font-weight: bold;
    text-decoration: none;
    color: $hoverColor;
}

/* End footer section */

/* -------------------------------- */

/* Modules */

.menu {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.menu li {
    position: relative;
    margin: 0.15rem;
}

.menu li a {
    color: $bgColorPos3;
    text-decoration: none;
    padding: 1rem 0rem;
    border-radius: 0;
    transition: 0.3s ease-in-out;
}

.dropdown-menu {
    list-style: none;
    display: none;
    position: absolute;
    z-index: 1;
    background-color: $bgColorPos1;
    box-shadow: 0px 10px 10px 6px rgba(0, 0, 0, 0.15);
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
}

.menu li:hover .dropdown-menu {display: block;}

.menu li:hover a {color: $black;}

.dropdown-menu li {margin: 0;}

.dropdown-menu li a {
    color: $black;
    font-size: 16px;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    transition: 0.2s ease;
}

.dropdown-menu li a:hover {color: $hoverColor;}

/* End modules section */

/*# sourceMappingURL=style.css.map */