body {
  margin: 0;
  padding: 0;
  background-color: #dadada;
  font-family: Montserrat, Arial, sans-serif;
}

/* Start header section */
.header {
  display: flex;
  justify-content: center;
}

#logoHeader {
  width: 15%;
  padding: 10px;
}

/* End header section */
/* -------------------------------- */
/* Start navbar section */
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 5px auto;
  background-color: #2b2b2b;
  height: 70px;
  width: 850px;
  border-radius: 15px;
}

#navbarLogo {
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

#navbarLogo:hover {
  scale: 110%;
  transition: 0.5s;
}

.navbarButtonsLeft {
  display: flex;
  align-items: center;
  width: 210px;
  justify-content: space-between;
}

.navbarItem {
  margin: 0;
  padding: 10px;
  font-size: 18px;
  color: #6e6e6e;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
}

.navbarItem:hover {
  color: #F6F4F1;
  transition: 0.5s;
}

.navbarSearch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbarSearch input[type=text] {
  width: 380px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  background-color: #494949;
  color: #F6F4F1;
  padding: 14px 14px;
  border-radius: 8px;
  border: none;
  text-align: left;
}

.navbarSearch input:focus {
  outline: 1px solid #6e6e6e;
}

.navbarButtonsRight {
  display: flex;
  width: 210px;
  align-items: center;
  justify-content: space-between;
}

#navbarIcon i {
  color: #6e6e6e;
  scale: 170%;
  padding: 2px;
  margin: 5px;
  transition: 0.3s;
  vertical-align: bottom;
}

#navbarIcon:hover i {
  color: #F6F4F1;
}

/* End navbar section */
/* -------------------------------- */
/* Start sidebar section */
.sidebar {
  margin: 10px 10px;
  border-radius: 15px;
  width: 410px;
  height: auto;
  background-color: #2b2b2b;
  padding: 20px 0px;
}

.sidebarSection {
  margin: 0;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #494949;
}

.sidebarSection h3 {
  display: inline-block;
  color: #F6F4F1;
  padding: 20px 10px 20px 20px;
  margin: 0;
}

.sidebarSection i {
  scale: 200%;
  color: #6e6e6e;
}

.sidebarSection p {
  color: #F6F4F1;
  font-size: 18px;
}

.sidebarList {
  display: inline-block;
  padding: 0;
  margin: 15px 15px;
  list-style-type: none;
}

.sidebarItem {
  text-align: center;
  padding: 5px;
  transition: 0.2s;
}

.sidebarItem a {
  text-decoration: none;
  color: #F6F4F1;
}

.sidebarItem a:hover {
  transition: 0.5s;
  color: #66c0f4;
}

#sidebarHeader {
  justify-content: center;
}

#sidebarHeader h1 {
  margin: 0 0 20px 0;
  color: #774cda;
}

#sidebarSection_price input[type=text] {
  font-family: Montserrat, Arial, sans-serif;
  text-align: center;
  width: 125px;
  margin: 10px;
  font-size: 15px;
  background-color: #494949;
  color: #F6F4F1;
  border: none;
  border-radius: 6px;
  height: 30px;
}

#floatSelection {
  font-family: Montserrat, Arial, sans-serif;
  text-align: center;
  height: 30px;
  margin: 10px;
  padding: 0px 15px;
  font-size: 15px;
  background-color: #494949;
  color: #6e6e6e;
  border: none;
  border-radius: 6px;
  outline: none;
  transition: 0.3s;
}

#floatSelection:focus {
  color: #F6F4F1;
  transition: 0.5s;
}

/* End sidebar section */
/* -------------------------------- */
/* Modules */
.menu {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.menu li {
  position: relative;
  margin: 0.15rem;
}

.menu li a {
  color: #6e6e6e;
  text-decoration: none;
  padding: 1rem 0rem;
  border-radius: 0;
  transition: 0.2s ease;
}

.dropdown-menu {
  list-style: none;
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #2b2b2b;
  box-shadow: 0px 10px 10px 6px rgba(0, 0, 0, 0.15);
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}

.menu li:hover .dropdown-menu {
  display: block;
}

.menu li:hover a {
  color: #F6F4F1;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu li a {
  color: #F6F4F1;
  font-size: 16px;
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  transition: 0.2s ease;
}

.dropdown-menu li a:hover {
  color: #66c0f4;
}

/*# sourceMappingURL=style.css.map */